.bg{
  width: 100%;
  height: 60%;
  background-color: rgba(22, 122, 202,0.8);
}
.footer{
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translate(-50%, 0);
  color: gray;
}
.ui.segment.main
{
  position: absolute; left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  top: 50%;
  width:850px;
  height: 400px;
  left: 50%;
}
.ui.grid{
  position: absolute; left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  width:850px;
}
 /*设置checkbox组的线性排列*/
.grouped.inline.fields .field{display: inline !important;margin-left: 12px !important;}
